body {
    background-color: black;
    color:red;
    font-family:  "Playwrite CU", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0px;

}
button {
    background-color: gray ;
    color: snow;
    font-family:  "Playwrite CU", cursive;
}
.passo {
    display: none;
}
.passo.ativo {
display :block;
}
main {
    max-width: 90%;
    text-align: center;
}
img {
    max-width: 90%;
}